@font-face {
    font-family: "jost-medium-font";
    src: url(../fonts/jost-medium-font/jost-medium.ttf);
}

body {
    font-family: "jost-medium-font";
    font-weight: 400;
}

h2 {
    font-size: 72px;
}

a {
    color: white;
}

.logo a {
    display: block;
}

.logo img {
    max-width: 72%;
}

.header {
    background: black;
    -webkit-box-shadow: 0 8px 4px 7px rgba(115, 115, 115, 0.1);
    -moz-box-shadow: 0 8px 4px -7px rgba(115, 115, 115, 0.1);
    box-shadow: 0 8px 4px 7px rgba(115, 115, 115, 0.1);
    transition: 0.5s;
}

.main-menu ul li {
    display: inline-block;
    margin-left: 36px;
    position: relative;
}

.main-menu ul li > a {
    color: #ffffff;
    font-size: 18px;
    display: inline-block;
    text-transform: capitalize;
    padding: 53px 0;
    position: relative;
    transition: 0.5s;
}

.main-menu ul li > a:hover {
    color: #ffffff !important;
    border: 1px solid #80db66;
    padding: 12px 28px 11px 28px;
    text-decoration: none;
}

.header-btn a {
    padding: 12px 28px 11px 28px;
    border: 1px solid #80db66;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 30px;
}

.header-btn a:hover {
    background: #80db66;
    color: #ffffff;
}

.main-heading {
    color: #ffff;
}

.btn {
    padding: 14px 40px 13px 40px;
    font-size: 16px;
    color: #ffffff !important;
    border-radius: 5px;
    outline: 0 none;
    text-transform: capitalize;
    background: #80db66 !important;
}

.typing {
    color: #80db66;
}

.slider-height {
    min-height: 1080px;
}

.slider-bg-color {
    background: black;
}

.slider-img {
    width: 25%;
    height: 25%;
}

.sub-heading {
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 7px;
    font-weight: 400;
    color: #80db66;
}

.slider-content h1 {
    font-size: 144px;
    line-height: 1.07;
}

.slider-content h2 {
    font-size: 24px;
    line-height: 2;
}

.slider-content h2 span {
    font-size: 36px;
    letter-spacing: 0px;
}

.slider-social-link {
    top: 50%;
    transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    -moz-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    -o-transform: translateY(-50%) !important;
}

.social li a {
    font-size: 18px;
    width: 55px;
    margin: 2px 0;
    height: 50px;
    line-height: 52px;
}

.social li {
    border: 1px solid rgba(204, 211, 217, 0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.social li:hover {
    background: #80db66;
    border: 1px solid #80db66;
}

.slider-img {
    margin-right: -200px;
}

.hero-shape4 {
    height: 60%;
    width: 20%;
}

.hero-shape2 {
    bottom: 17%;
    right: 12%;
}

.hero-shape3 {
    bottom: 8%;
    left: 6%;
}

.hero-shape4 {
    top: 21%;
    left: 47%;
}


.header-logo img {
    width: 30%;
    height: 30%;
}